<h2>Buy Management</h2>

<form ng-submit="addBuy()">
    <input type="text" ng-model="newBuy.name" placeholder="Name" required>
    <input type="number" ng-model="newBuy.cost" placeholder="Cost" required>
    <input type="date" ng-model="newBuy.date" required>
    <button type="submit">Add Buy</button>
</form>

<h3>Purchases List</h3>
<ul>
    <li ng-repeat="buy in buys">
        {{buy.name}} - {{buy.cost}} ({{buy.date}})
        <button ng-click="deleteBuy(buy.id)">Delete</button>
    </li>
</ul>